*{
    margin:0 px; 
    padding:0}
    ul {
        border: 1px solid #e7e7e7;
        background-color: #f3f3f3;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
      }
      
      li a {float:left;
        display: block;
        color: #666;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      #intro{  
          background-color:rgb(80, 71, 71);
      }
      h1{font:size 70px;}
     
     
      #column.main{
        float: left;
        width: 70%;
      }
      #column.side {
        float: left;
        width: 25%;
      }
      img {
        display: inline-block;
      }